@model OdeToFood.Entities.Restaurant

<section>
    <h3>@Model.Name</h3>
    <div>
        @Model.Cuisine
    </div>

    <div>
        <a asp-controller="Home" asp-action="Details" asp-route-id="@Model.Id">View Details</a>
        <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    </div>
</section>
