@model OdeToFood.ViewModels.HomePageViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome!</h1>
    <h3>@Model.CurrentGreeting</h3>
<div>
    <table>
        @foreach (var restaurant in Model.Restaurants)
        {
            <tr>
                <td>@restaurant.Id</td>
                <td>@restaurant.Name</td>
            </tr>
        }
    </table>

</div>
</body>
</html>