@model OdeToFood.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home";
}

<h1>Welcome!</h1>
<div>
    <table>
        @foreach (var restaurant in Model.Restaurants)
        {
            <tr>
                <td>@restaurant.Id</td>
                <td>@restaurant.Name</td>
                <td>@Html.ActionLink("View Details", "Details", new {id = restaurant.Id})</td>
            </tr>
        }
    </table>
</div>

@section footer{
    <h3>@Model.CurrentGreeting</h3>
}
